/hola_mundo/nbproject/private/
/hola_mundo/build/
/Clases/nbproject/private/
/Clases/build/
/Jul21/nbproject/private/
/Jul21/build/
/Taller1/nbproject/private/
/Taller1/build/
/Jul23_Ciclos/nbproject/private/
/Jul23_Ciclos/build/
/Taller2/nbproject/private/
/Taller2/build/
